<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>t('email.welcome') <%= @ad[:name] %>!</h1>
    <p>
      t('email.your_add') "<%= @ad[:title] %>" t('email.was_added') t('page_title').
    </p>
    <p>
      t('email.add_link'): <a href="<%= @ad[:url] %>"><%= @ad[:url] %></a>.
    </p>
    <a href="http://www.korkizmuzy.pl">t('www')</a>
  </body>
</html>
