<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>t('email.welcome') <%= @user[:name] %>!</h1>
    <p>
      t('email.registering_complete')
    </p>
    <p>
      t('email.registering_text')
    </p>
    <a href="http://www.korkizmuzy.pl">t('www')</a>
  </body>
</html>
