<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Witaj <%= @user[:name] %>!</h1>
    <p>
      Ten email oznacza, że rejestracja twojego konta na stronie KorkiZMuzy.pl powiodła się!
    </p>
    <p>
      Od teraz możesz logować się, dodawać ogłoszenia i czekać na kontakt od swoich uczniów :-)
    </p>
    <a href="www.korkizmuzy.pl">www.korkizmuzy.pl</a>
  </body>
</html>