<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Użytkownik <%= @msg[:name] %> przysłał ci wiadomość!</h1>
    <p><%= @msg[:message] %></p>
    <p>
      Link do ogłoszenia: <a href="<%= @msg[:url] %>"><%= @msg[:url] %></a>.
    </p>
    <a href="www.korkizmuzy.pl">www.korkizmuzy.pl</a>
  </body>
</html>