<h1 class="cover-heading">Kontakt</h1>
<p class="lead">Szkoła muzyczna Weroniki Treszczotka</p>
<p class="lead">Ul. Górnicza 10</p>
<p class="lead">43-190 Mikołów</p>
<p class="lead">
	<a href="http://www.somapro.pl" target="_blank" class="btn btn-lg btn-secondary">Dowiedz się więcej</a>
</p>